.bt-pull-to-refresh {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bt-pull-to-refresh .refresh-view {
  flex: 1;
  flex-direction: column;
}

.bt-pull-to-refresh .ptr-element {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  color: #000;
  z-index: 10;
  text-align: center;
  height: 40px;
}

.bt-pull-to-refresh .ptr-element .arrow-down {
  opacity: 0.6;
  font-size: 24px;
  width: auto;
  height: auto;
  transition: all 0.25s ease;
  margin-top: 0px;
  display: inline-block;
}
.bt-pull-to-refresh.ptr-refresh .ptr-element .arrow-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bt-pull-to-refresh.ptr-loading .ptr-element .arrow-down,
.bt-pull-to-refresh.ptr-reset .ptr-element .arrow-down {
  display: none;
}

.bt-pull-to-refresh .loading {
  text-align: center;
  margin: 8px;
  display: none;
}
.bt-pull-to-refresh.ptr-loading .loading {
  display: block;
}

@-webkit-keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #fff;
    opacity: 1;
  }
}

@keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #fff;
    opacity: 1;
  }
}

.bt-pull-to-refresh .refresh-view {
  background: #fff;
  min-height: 100%;
  z-index: 20;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  text-align: center;
  box-sizing: border-box;
}

.bt-pull-to-refresh.ptr-loading .refresh-view,
.bt-pull-to-refresh.ptr-reset .refresh-view,
.bt-pull-to-refresh.ptr-loading .ptr-element,
.bt-pull-to-refresh.ptr-reset .ptr-element {
  transition: all 0.25s ease;
}

.bt-pull-to-refresh.ptr-reset .refresh-view {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.bt-pull-to-refresh.ptr-loading .refresh-view {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
